@font-face {
  font-family: "EuclidFlex";
  src: url(../fonts/EuclidFlex-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "EuclidFlex";
  src: url(../fonts/EuclidFlex-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: "EuclidFlex";
  src: url(../fonts/EuclidFlex-Bold.otf);
  font-weight: 700;
}

body {
  background-color: #2c2458;
}

.road {
  width: 40%;
  margin: 0 auto;
  height: 100vh;
  background-color: #4e5050;
  border-left: 6px solid white;
  border-right: 6px solid white;
  position: relative;
  overflow: hidden;
}

.line {
  position: absolute;
  width: 10px;
  height: 100vh;
  background: repeating-linear-gradient(transparent 0%, transparent 10%, white 10%, white 20%, transparent 20%, transparent 30%, white 30%, white 40%, transparent 40%, transparent 50%, white 50%, white 60%, transparent 60%, transparent 70%, white 70%, white 80%, transparent 80%, transparent 90%, white 90%, white 100%);
  -webkit-animation: animateRunaway 2s linear infinite;
          animation: animateRunaway 2s linear infinite;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-size: 40px 730px;
}

@-webkit-keyframes animateRunaway {
  0% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: 1460px;
  }
}

@keyframes animateRunaway {
  0% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: 1460px;
  }
}

.car__red {
  position: absolute;
  -webkit-transform: translateX(0px) rotate(-90deg);
          transform: translateX(0px) rotate(-90deg);
  width: 40%;
  bottom: 5%;
  left: 5%;
}

.car__white {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 40%;
  right: 5%;
  -webkit-animation: animateWhiteCar 2s linear infinite;
          animation: animateWhiteCar 2s linear infinite;
  background-size: 40px 730px;
}
